<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="dist/assets/style/all.css">
  <link rel="stylesheet" href="app/assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-white container px-0 px-lg-10 fixed-top">
    <h1 class="logo ml-5"><a class="navbar-brand mt-1 mt-md-0" href="index.html">pet</a></h1>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler border-0"><i class="fas fa-bars text-primary fa-2x"></i></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-4">
        <li class="nav-item active border-sm-bottom border-sm-top">
          <a class="nav-link text-info text-center h5-sm py-2 py-md-0 font-sm-bold" href="service.html">預約服務</a>
        </li>
        <li class="nav-item ml-0 ml-md-8">
          <a class="nav-link text-info text-center py-2 py-md-0 h5-md border-sm-bottom font-sm-bold"
            href="Detail.html">成為寵物保母</a>
        </li>
        <li class="nav-item ml-0 ml-md-8">
          <a class="nav-link text-info text-center py-2 py-md-0 h5-md border-sm-bottom font-sm-bold"
            href="login.html">登入</a>
        </li>
      </ul>
    </div>
  </nav>

  <%- contents %>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/all.js"></script>
  </body>

  </html>
