.switch-img2-big,.switch-img3-big,.switch-img4-big{
    display: none;
}
.switch-img1-big,.switch-img2-big,.switch-img3-big,.switch-img4-big{
    min-height: 440px;
}
.switch-img1,.switch-img2,.switch-img3,.switch-img4{
    height: 96px;
    width: 96px;
}
@media (max-width: 992px){
.switch-img1-big,.switch-img2-big,.switch-img3-big,.switch-img4-big{
    min-height: 221px;
}
.switch-img1,.switch-img2,.switch-img3,.switch-img4{
    height: 63px;
}
}
@media (max-width: 767px){
    .switch-img1,.switch-img2,.switch-img3,.switch-img4{
     width: 23%;
    }
}